.gallery-container {
   text-align: center;
   padding: 20px;
}

.gallery-container h2 {
   color: #d4a200;
}

.gallery-images {
   display: flex;
   justify-content: center;
   gap: 10px;
}

.gallery-images img {
   width: 150px;
   border-radius: 5px;
   transition: transform 0.3s;
}

.gallery-images img:hover {
   transform: scale(1.1);
}
